* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e0e4e9;
}

.navegacao-vertical {
    background-color: #2b2d42;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
}

.navegacao-vertical ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navegacao-vertical li {
    margin: 20px 0;
}

.navegacao-vertical li a {
    text-decoration: none;
    color: #8d99ae;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-sizing: border-box;
}

.navegacao-vertical li a:hover {
    color: #ccc;
}

.navegacao-vertical li a::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #8d99ae;
    visibility: hidden;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
}

.navegacao-vertical li a:hover::before {
    visibility: visible;
    transform: scaleY(1);
}

.navegacao-horizontal {
    background-color: #2b2d42;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.navegacao-horizontal ul {
    list-style-type: none;
    display: flex;
}

.navegacao-horizontal li {
    margin: 0 30px;
}

.navegacao-horizontal li a {
    text-decoration: none;
    color: #8d99ae;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navegacao-horizontal li a:hover {
    background-color: #edf2f4;
    color: #2b2d42;
    box-sizing: 0 8px 16px rgba(237, 242, 244, 0.4);
}

