* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff0000;
}

body {
    position: relative;
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

.logo img {
    max-width: 60px;
    max-height: 60px;
    filter: invert(1);
    transition: transform 0.5s ease;
}

.logo:hover img {
    transform: rotate(540deg) scale(1.2);
    transition: transform 0.5s ease;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px;
}

.nav li:hover a {
    color: var(--primary);
}

.search {
    position: relative;
    width: 130px;
    height: 40px;
    transition: 0.5s;
}

.search:hover {
    width: 300px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 5px;
}

.search input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    transform: transLateX(5px);
    font-weight: 300;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-wrapper .swiper-slide img {
    display: block;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper .swiper-wrapper .swiper-slide .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.swiper .swiper-wrapper .swiper-slide .banner img {
    position: absolute;
    max-width: 700px;
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
}

.swiper .swiper-button-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 60%;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 60px;
    z-index: 100;
}

.right {
    max-height: 70vh;
}

.banner img {
    max-width: 790px;
    max-height: 790px;
    width: 50%;
    height: 50%;
}

.swiper .swiper-wrapper .swiper-slide .banner .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner .left .features {
    max-width: 400px;
    margin-bottom: 100px;
}

.banner .left .features .rating {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.banner .left .features .rating .score {
    padding: 15px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary);
    background:#ffffff;
}

.banner .left .features .content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner .left .features .pricing {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .left .features .content h4 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner .left .features .content span {
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 400;
}

.banner .left .features .content .subtitle {
    color: var(--primary);
}

.banner h1 {
    color: #ffffff;
    font-size: 5em;
    letter-spacing: 5px;
    line-height: 0.9;
    z-index: 10;
    text-transform: uppercase;
}

.swiper .swiper-wrapper .swiper-slide .banner .right {
    position: relative;
    height: 100vh;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 100;
}

.banner .right .description {
    padding: 30px 60px 0 0;
    color: #ffffff;
}

.banner .right .description li {
    list-style: none;
}

.banner .right .description h4 {
    display: inline-block;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.banner .right .description p {
    margin: 5px 0 25px 30px;
    font-weight: 300;
}

.banner .right h2 {
    color: #ffffff;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    text-align: right;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner .right iframe {
    max-width: 450px;
    max-height: 250px;
}








