body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #dee3e8;
    color: #333;
}

table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

td:hover {
    background-color: #f1f1f1;
}

caption {
    font-weight: bold;
    padding: 10px;
    font-size: 1.2em;
    color: #007bff; 
    background-color: #f1f1f1;
    border-radius: 8px 8px 0 0;
    text-align: center;
    margin-bottom: 10px;
}

tbody tr:nth-child(even){
    background-color: #166b99;
}