#cabecalho {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#conteudo {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafosDestaque {
    padding: 10px;
    border-left: 4px solid #fbc02d;
}

.botao {
    color: white;
    padding: 10px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.botao-clique-aqui {
    background-color: #4CAf50;
   
}

.botao-saiba-mais {
    background-color: #008cba;
}