:root {
    --cor-fundo: #F6F1ED;
    --branco: #fff;
    --branco-2: #d7d1cb;
    --preto: #000;
    --verde-escuro: #1B1E18;
    --verde-escuro-2: #121410;
    --cinza-verde: #83908F;
    --vermelho: #881212;
}

body {
    background: var(--cor-fundo);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Estilos - Navegação */

.Navigation {
    width: 100%;
    min-width: 1090px;
    z-index: 999;
    top: 60px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.Navigation-itens {
    padding: 20px;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.logo-autora {
    margin-top: 46px;
    margin-left: 85px;
    position: relative;
    width: 250px;
    float: left;
    padding: 20px;
}

.cruz {
    width: 54px;
    height: 54px;
}

.nome-navigation {
    position: absolute;
    left: 92px;
    top: 33px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-family: Karma;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

.items {
    display: inline-flex;
    align-items: center;
    gap: 48px;
}

.items p, a {
    font-size: 20px;
    font-weight: 700;
    color: var(--preto);
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.items p:hover, a:hover {
    color: var(--branco);
}

.button-navigation {
    padding-right: 25px;
    padding-left: 10px;
    background: var(--verde-escuro);
    border-radius: 8px;
    transition: background 0.3s ease;
}

.button-navigation div.ComprarAgora, a#ComprarAgora {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -4px;
}

.button-navigation:hover {
    background-color: var(--vermelho);
    transition: 0.3s ease;
}

/* Estilos - Main */

.main {
    width: 100%;
    height: 1030px;
    position: relative;
    top: 350px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.background {
    width: 100%;
    height: 1030px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -2;
    background-image: url("./assets/background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.title {
    min-width: 600px;
    left: 110px;
    top: 300px;
    position: absolute;
    color: white;
    font-size: 90px;
    line-height: 77px;
    word-wrap: break-word;
    font-weight: 100;
}

.description {
    width: 580px;
    left: 110px;
    top: 500px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.button-main {
    width: 300px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    left: 100px;
    top: 900px;
    background: var(--vermelho);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;
    color: var(--branco-2);
    font-weight: 500;
    transition: 0.2s ease;
}

.button-main:hover {
    background-color: var(--branco-2);
    color: var(--verde-escuro);
    font-weight: 700;
}

.button-main-text {
    font-size: 16px;
    line-height: 24px;
    margin-right: 75px;
    text-align: center;
    margin-left: 75px;
    transition: color 0.3s ease;
}

.mockup {
    z-index: -1;
    position: absolute;
    width: 800px;
    height: 800px;
    left: 50%;
    top: 220px;
}

/* Estilos - Stickers */

.stickers {
    position: absolute;
    width: 100%;
    max-width: 86%;
    top: 1120px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.header {
    width: 100%;
    text-align: center;
    color: var(--verde-escuro);
    font-size: 36px;
    font-weight: 700;
}

.sticker-grid {
    display: grid;
    justify-items: center;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stickers-text {
    max-width: 245px;
    text-align: center;
    color: var(--verde-escuro);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.sticker {
    width: 256px;
    margin-bottom: -40px;
}

/* Estilos - Opções de Compra */

.ondeComprar {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1800px;
    max-width: 1300px;
    width: 88%;
    height: 840px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.box-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--verde-escuro);
    border-radius: 18px;
    min-width: 1225px;
}

.box-bg-texture {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 18px;
    min-width: 1225px;

    background-image: url('./assets/textura-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    opacity: 0.4;
    z-index: 0;
}

.ondeComprar p {
    z-index: 3;
    margin-top: 43px;
    position: absolute;
    text-align: center;
    color: var(--branco);
    font-size: 42px;
    font-weight: 700;
}

.ondeComprar-title {
    display: grid;
    width: 100%;
    justify-content: center;
}

.ondeComprar-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.img-ebook {
    width: 90%;
}

#preco-01 {
    margin-bottom: 10px;
}

#img-ebook-01 {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 45px;
}

#img-ebook-02 {
    width: 250px;
    margin-bottom: 30px;
}

#img-ebook-03 {
    width: 220px;
    margin-top: 25px;
    margin-bottom: 52px;
}

#img-ebook-04 {
    width: 220px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.produto-container {
    margin-top: 130px;
    width: 260px;
    height: 650px;
    background: var(--branco);
    text-align: center;
    border-radius: 19px;
    display: inline-block;
}

.cruz-02 img {
    margin-top: 30px;
    width: 100%;
    width: 41px;
    height: 41px;
}

.produto-titulo {
    z-index: 2;
    margin-top: 10px;
    text-align: center;
    color: var(--verde-escuro);
    font-size: 36px;
    font-weight: 700;
    word-wrap: break-word;
    text-transform: uppercase;
}

.produto-valor {
    text-align: center;
    color: var(--verde-escuro);
    font-size: 40px;
    font-weight: 700;
    margin-top: -40px;
}

#produto-valor-02 {
    margin-top: -15px;
    color: var(--verde-escuro);
    font-size: 30px;
}

.produto-complemento {
    z-index: 4;
    text-align: center;
    color: var(--verde-escuro);
    font-size: 20px;
    line-height: 25px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#produto-complemento-02 {
    margin-top: -15px;
    color: var(--verde-escuro);
    font-size: 20px;
    line-height: 25px;
}

.produto-botao {
    color: var(--branco);
    background: var(--vermelho);
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 200px;
    height: 70px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 32px;
}

.produto-botao p, a {
    color: var(--branco);
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    margin-left: 13px;
    margin-bottom: 15px;
    line-height: 70px;
}






