:root {
    --cor-fundo: #F6F1ED;
    --branco: #fff;
    --branco-2: #d7d1cb;
    --preto: #000;
    --verde-escuro: #1B1E18;
    --verde-escuro-2: #121410;
    --cinza-verde: #83908F;
    --vermelho: #881212;
}

body {
    background: var(--cor-fundo);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Estilos - Navegação */

.Navigation {
    width: 100%;
    min-width: 1090px;
    z-index: 999;
    top: 60px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.Navigation-itens {
    padding: 20px;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.logo-autora {
    margin-top: 46px;
    margin-left: 85px;
    position: relative;
    width: 250px;
    float: left;
    padding: 20px;
}

.cruz {
    width: 54px;
    height: 54px;
}

.nome-navigation {
    position: absolute;
    left: 92px;
    top: 33px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-family: Karma;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

.items {
    display: inline-flex;
    align-items: center;
    gap: 48px;
}

.items p, a {
    font-size: 20px;
    font-weight: 700;
    color: var(--preto);
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.items p:hover, a:hover {
    color: var(--branco);
}

.button-navigation {
    padding-right: 25px;
    padding-left: 10px;
    background: var(--verde-escuro);
    border-radius: 8px;
    transition: background 0.3s ease;
}

.button-navigation div.ComprarAgora, a#ComprarAgora {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -4px;
}

.button-navigation:hover {
    background-color: var(--vermelho);
    transition: 0.3s ease;
}

/* Estilos - Main */

.main {
    width: 100%;
    height: 1030px;
    position: relative;
    top: 350px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.background {
    width: 100%;
    height: 1030px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -2;
    background-image: url("./assets/background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.title {
    min-width: 600px;
    left: 110px;
    top: 300px;
    position: absolute;
    color: white;
    font-size: 90px;
    line-height: 77px;
    word-wrap: break-word;
    font-weight: 100;
}

.description {
    width: 580px;
    left: 110px;
    top: 500px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.button-main {
    width: 300px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    left: 100px;
    top: 900px;
    background: var(--vermelho);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;
    color: var(--branco-2);
    font-weight: 500;
    transition: 0.2s ease;
}

.button-main:hover {
    background-color: var(--branco-2);
    color: var(--verde-escuro);
    font-weight: 700;
}

.button-main-text {
    font-size: 16px;
    line-height: 24px;
    margin-right: 75px;
    text-align: center;
    margin-left: 75px;
    transition: color 0.3s ease;
}

.mockup {
    z-index: -1;
    position: absolute;
    width: 800px;
    height: 800px;
    left: 50%;
    top: 220px;
}