body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #000;
}

dl {
    margin: 20px;
    padding: 10px;
    background-color: #99c5d9;
    border-left: 5px solid #0059b3;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
}

dd {
    font-style: italic;
    color: #004080;
}

ul.listaNaoOrdenada {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    border: 1px solid #004080;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #99c5d9;
}

ul.listaNaoOrdenada li {
  margin-bottom: 10px;
  padding-left: 10px;  
}

ol > ul {
    color: blue;
    background-color: yellowgreen;
}



